<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinks - CybrixNova.com</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="site-main">
        <div class="site-header">
            <%- include('./includes/header') %>
        </div>
        <div class="main-content">

<style>
    .kink-table {
    width: 100%;
    border-collapse: collapse;
    background-color: silver;
    color: black;
    font-family: 'ModernDos';
    font-size: 24px;
    border: 2px solid black;
}

.kink-table th {
    background-color: blue;
    color: white;
    text-align: left;
    padding: 6px;
    border: 2px solid black;
    font-family: 'ModernDos';
}

.kink-table td {
    width: 25%;
    vertical-align: top;
    background-color: silver;
    color: black;
    padding: 8px;
    border: 2px solid black;
}

.kink-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.kink-list li {
    color: black;
    padding: 2px 0;
}

.kink-list li::before {
    content: "▸ ";
    color: blue;
}

.kink-table th:nth-child(1) {
    color: cyan;
}

.kink-table th:nth-child(2) {
    color: lime;
}

.kink-table th:nth-child(3) {
    color: yellow;
}

.kink-table th:nth-child(4) {
    color: red;
}
</style>

<table class="kink-table">
    <tr>
        <th>Favorite</th>
        <th>Yes</th>
        <th>Maybe</th>
        <th>No</th>
    </tr>

    <tr>
        <td valign="top">
            <ul class="kink-list">
                <li>Anal Sex (Receiving)</li>
                <li>Canines</li>
                <li>Cum</li>
                <li>Felines</li>
                <li>Fellatio (Performing)</li>
                <li>Fellatio (Receiving)</li>
                <li>Knotting / Tying</li>
                <li>Sheath Play</li>
                <li>Shooting Precum</li>
                <li>Vulpines</li>
            </ul>
        </td>

        <td valign="top">
            <ul class="kink-list">
                <li>3+ Penetration</li>
                <li>Ahegao</li>
                <li>Anal Sex (Giving)</li>
                <li>Anal Training</li>
                <li>Anal Virginity</li>
                <li>Auto-Fellatio</li>
                <li>Avians</li>
                <li>Cervines</li>
                <li>Chastity</li>
                <li>Clit Play</li>
                <li>Cock Warming</li>
                <li>Consensual</li>
                <li>Creampie</li>
                <li>Crossdressing</li>
                <li>Cunnilingus (Giving)</li>
                <li>Dirty Talking</li>
                <li>Docking</li>
                <li>Double Penetration</li>
                <li>Dragons</li>
                <li>Drawn Image References</li>
                <li>Face-Fucking</li>
                <li>Fingering (Anal)</li>
                <li>Fingering (Vaginal)</li>
                <li>Foreplay</li>
                <li>Frotting</li>
                <li>Gaping (Vaginal)</li>
                <li>Heat / Rut</li>
                <li>Hyaenidae</li>
                <li>Incest (Siblings)</li>
                <li>Instant Hookups</li>
                <li>Internal Cumshots</li>
                <li>Latex / Rubber</li>
                <li>Mammals</li>
                <li>Marsupials</li>
                <li>Master / Pet</li>
                <li>Multiple Characters</li>
                <li>Multiple Orgasms</li>
                <li>Oral Sex (Giving)</li>
                <li>Oral Sex (Receiving)</li>
                <li>Oral Virginity</li>
                <li>Pokémon</li>
                <li>Powerbottoming</li>
                <li>Private Roleplay</li>
                <li>Prostate Play</li>
                <li>Public Room Roleplay</li>
                <li>Realistic Cum</li>
                <li>Roleplay Perspective - First Person</li>
                <li>Roleplay Perspective - Second Person</li>
                <li>Roleplay Perspective - Third Person</li>
                <li>Sex Driven</li>
                <li>Sex Toys</li>
                <li>Sexual Exhaustion</li>
                <li>Sexual Frustration</li>
                <li>Sexy / Slutty Clothing</li>
                <li>Socks / Stockings</li>
                <li>Somnophilia</li>
                <li>Squirting</li>
                <li>Stomach Bulging</li>
                <li>Swallowing Semen</li>
                <li>Tantric Sex</li>
                <li>Teasing</li>
                <li>Vaginal Sex (Giving)</li>
                <li>Vaginal Virginity</li>
                <li>Vanilla Sex</li>
                <li>Watersports</li>
            </ul>
        </td>

        <td valign="top">
            <ul class="kink-list">
                <li>Bats</li>
                <li>Bovines</li>
                <li>Caprinae</li>
                <li>Cervical Penetration</li>
                <li>Clothed Sex</li>
                <li>Cock / Balls Worship</li>
                <li>Cum Milking</li>
                <li>Degradation</li>
                <li>Demons</li>
                <li>Digimon</li>
                <li>Dinosaurs</li>
                <li>Divinities</li>
                <li>Elves</li>
                <li>Excessive Precum</li>
                <li>Excessive Semen</li>
                <li>Exotic Species</li>
                <li>Extreme Tightness</li>
                <li>Fish / Sharks</li>
                <li>Flaccid Play</li>
                <li>Gangbangs</li>
                <li>Gaping (Anal)</li>
                <li>Glasses</li>
                <li>Humanoids</li>
                <li>Humans</li>
                <li>Inexperienced Partners</li>
                <li>Kissing</li>
                <li>Licking</li>
                <li>Marine Mammals</li>
                <li>Master / Slave</li>
                <li>Mephitis</li>
                <li>Mustelidae</li>
                <li>Nonsexual Roleplay</li>
                <li>Onomatopoeia</li>
                <li>Pegging</li>
                <li>Photograph References</li>
                <li>Plot Twists</li>
                <li>Predator Species</li>
                <li>Premature Ejaculation</li>
                <li>Prey Species</li>
                <li>Procyonidae</li>
                <li>Reptiles</li>
                <li>Rimming (Giving)</li>
                <li>Rimming (Receiving)</li>
                <li>Robots, Cyborgs, Androids</li>
                <li>Rodents / Murines</li>
                <li>Saliva</li>
                <li>Sexual Restraints</li>
                <li>Sloppy Seconds</li>
                <li>Soft Cum Facials</li>
                <li>Story Driven</li>
                <li>Storytelling (Player)</li>
                <li>Strap-ons</li>
                <li>Strip Tease</li>
                <li>Stuckage</li>
                <li>Tail Pulling</li>
                <li>Tailsex</li>
                <li>Thick / Sticky Cum</li>
                <li>Throat Penetration</li>
                <li>Undead</li>
                <li>Underwear</li>
                <li>Underwear Bulges</li>
                <li>Uniforms</li>
                <li>Unusual Semen</li>
                <li>Ursines</li>
                <li>Verbal Abuse</li>
                <li>Wardrobe Malfunctions</li>
            </ul>
        </td>

        <td valign="top">
            <ul class="kink-list">
                <li>Absorption</li>
                <li>Age Differences</li>
                <li>Age Progression</li>
                <li>Age Regression</li>
                <li>Ageplay</li>
                <li>All the Way Through</li>
                <li>Alternative Pregnancy</li>
                <li>Alternative Vore</li>
                <li>Anal Fisting</li>
                <li>Anal Pregnancy</li>
                <li>Anal Prolapse</li>
                <li>Anal Vore</li>
                <li>Approaching IC</li>
                <li>Approaching OOC</li>
                <li>Ass to Mouth</li>
                <li>Bathroom Control</li>
                <li>Birthing</li>
                <li>Breeding</li>
                <li>Cannibalism</li>
                <li>Clothing Play</li>
                <li>Cock / Ball Smothering</li>
                <li>Cock Slapping</li>
                <li>Cock Vore</li>
                <li>Condoms</li>
                <li>Cooking (Vore)</li>
                <li>Crotch Sniffing</li>
                <li>Cum Bath</li>
                <li>Cum Enemas</li>
                <li>Cum From Mouth / Nose</li>
                <li>Cum Marking</li>
                <li>Cum Vomit</li>
                <li>Cum on Clothes</li>
                <li>Diapers</li>
                <li>Digestion</li>
                <li>Disposal</li>
                <li>Driders</li>
                <li>Drug / Alcohol Use</li>
                <li>Enemas</li>
                <li>Equines</li>
                <li>Extreme Pregnancy</li>
                <li>Face-Sitting</li>
                <li>Fae</li>
                <li>Felching</li>
                <li>Fingers in Mouth</li>
                <li>Food Play</li>
                <li>Footgear Worship</li>
                <li>Force Feeding</li>
                <li>Forced Clotheswearing</li>
                <li>Forced Incest</li>
                <li>Forced Nudity</li>
                <li>Foreskin Worship</li>
                <li>Hard Cum Facials</li>
                <li>Hard Vore</li>
                <li>Heavily Excessive Precum</li>
                <li>Heavily Excessive Semen</li>
                <li>Humiliation</li>
                <li>Hyper Scat</li>
                <li>Hyper Watersports</li>
                <li>Hypnotism / Mind Control</li>
                <li>Ice</li>
                <li>Impotence</li>
                <li>Impregnation</li>
                <li>Incest (Parental)</li>
                <li>Infantilism</li>
                <li>Insects / Arachnids</li>
                <li>Kemonomimi</li>
                <li>Lamia / Naga</li>
                <li>Lapines</li>
                <li>Leather</li>
                <li>Lima Syndrome</li>
                <li>Living Insertions</li>
                <li>Male Pregnancy</li>
                <li>Marking</li>
                <li>Masks</li>
                <li>Mental Torture</li>
                <li>Mollusca</li>
                <li>Monkeys / Primates</li>
                <li>Monsters</li>
                <li>Moogles</li>
                <li>My Little Pony</li>
                <li>Natural Musk</li>
                <li>Nipple Penetration</li>
                <li>Non-Standard Penetration</li>
                <li>Objectification</li>
                <li>Oral Fixation</li>
                <li>Orcs</li>
                <li>Orientation Play</li>
                <li>Oviposition</li>
                <li>Parasites</li>
                <li>Physical Restraints</li>
                <li>Piss Enemas</li>
                <li>Plants</li>
                <li>Potions / Injections</li>
                <li>Pregnancy</li>
                <li>Public Humiliation</li>
                <li>Puppy / Pony Play</li>
                <li>Pussy Worship</li>
                <li>Queefing</li>
                <li>Realistic Vore</li>
                <li>Risk of Pregnancy</li>
                <li>Scat</li>
                <li>Scat Torture</li>
                <li>Sentient Cocks</li>
                <li>Shaving</li>
                <li>Smoking</li>
                <li>Snowballing</li>
                <li>Soft Vore</li>
                <li>Soiling</li>
                <li>Sounding</li>
                <li>Speech Restrictions</li>
                <li>Stockholm Syndrome</li>
                <li>Storytelling (Narrator)</li>
                <li>Swallowing Feces</li>
                <li>Swallowing Urine</li>
                <li>Sweat</li>
                <li>Taurs</li>
                <li>Teeth Play</li>
                <li>Tickling</li>
                <li>Unbirthing</li>
                <li>Underage Characters</li>
                <li>Unrealistic Vore</li>
                <li>Uppity</li>
                <li>Urethra Play</li>
                <li>Vaginal Fisting</li>
                <li>Vaginal Prolapse</li>
                <li>Vampires</li>
                <li>Vore (Being Predator)</li>
                <li>Vore (Being Prey)</li>
                <li>Wetting</li>
                <li>Xeno / Alien</li>
            </ul>
        </td>
    </tr>
</table>

            <div class="blurbs">
            </div>






        </div>
        <div class="footer"><%- include('includes/footer') %></div>
    </div>
    
</body>
</html>